  {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>TecShop</title>

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
                                  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

                <script src="{% static 'js/app.js' %}"></script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

    </head>
    <body>
        <!--div><h1><a href="/">TecShop</a></h1-->

        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">TeckShop</a>
            </div>
        </nav><br>

        <div class="container-menu">
            <a href="#" class="btn-menu"> Menu <i class="icono fa fa-bars" aria-hidden="true"></i></a> <!--Para dispositivos moviles-->
            <ul class='menu'>
                <li><a href="#" class="category_item" category="all"><i class="icono izquierda fa fa-home" aria-hidden="true"></i>Inicio</a></li>
                <li><a href="#"><i class="icono izquierda fa fa-star" aria-hidden="true"></i>Productos<i class="icono derecha fa fa-chevron-down" aria-hidden="true"></i></a>
                    <ul>
                        <li><a href="#" class="category_item" category="laptops">Laptops</a></li>
                        <li><a href="#" class="category_item" category="camaras">Camaras</a></li>
                        <li><a href="#" class="category_item" category="celulares">Celulares</a></li>
                        <li><a href="#" class="category_item" category="televisores">Televisores</a></li>
                        <li><a href="#" class="category_item" category="tablets">Tablets</a></li>
                        <li><a href="#" class="category_item" category="sonido">Equipos de sonido</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="icono izquierda fa fa-share-alt" aria-hidden="true"></i>Redes Sociales</a></li>
                <li><a href="#"><i class="icono izquierda fa fa-envelope" aria-hidden="true"></i>Contactanos</a></li>
            </ul>

          <!--section class="products-list">
    {% if product_list %}

    <div class="derecha">
      <ul id="galeria">
          {% for product in product_list %}

        <li ><img src={{ product.url_text }}></li>

        {% endfor %}
      </ul>
    </div>

          </section-->

            <section class="products-list">
                <div class="product-item" category="laptops">
                    <img src="{% static 'images/laptop_hp.jpg'  %}">
                    <a href="#">Laptop hp</a>
                </div>
                <div class="product-item" category="laptops">
                    <img src="{% static 'images/laptop_toshiba.jpg' %}">
                    <a href="#">Laptop Toshiba</a>
                </div>
                <div class="product-item" category="camaras">
                    <img src="{% static 'images/camara_canon.jpeg'  %}">
                    <a href="#">Camara Canon</a>
                </div>
                <div class="product-item" category="camaras">
                    <img src="{% static 'images/camara_sony.jpg'  %}">
                    <a href="#">Camara Sony</a>
                </div>
                <div class="product-item" category="celulares">
                    <img src="{% static 'images/iphone.jpg'  %}">
                    <a href="#">iPhone</a>
                </div>
                <div class="product-item" category="celulares">
                    <img src="{% static 'images/samsung_galaxy.jpg'  %}">
                    <a href="#">Samsung Galaxy</a>
                </div>
                <div class="product-item" category="televisores">
                    <img src="{% static 'images/televisor_lg.jpg'  %}">
                    <a href="#">LG</a>
                </div>
                <div class="product-item" category="televisores">
                    <img src="{% static 'images/televisor_lgOLED.jpg'  %}">
                    <a href="#">LG OLED</a>
                </div>
                <div class="product-item" category="televisores">
                    <img src="{% static 'images/televisor_panasonic.jpg'  %}">
                    <a href="#">Panasonic</a>
                </div>
                <div class="product-item" category="televisores">
                    <img src="{% static 'images/televisor_samsung.jpg'  %}">
                    <a href="#">Samsung</a>
                </div>
                <div class="product-item" category="televisores">
                    <img src="{% static 'images/televisor_sony.jpg'  %}">
                    <a href="#">Sony</a>
                </div>
                <div class="product-item" category="tablets">
                    <img src="{% static 'images/tablet_apple.jpg'  %}">
                    <a href="#">Apple</a>
                </div>
                <div class="product-item" category="tablets">
                    <img src="{% static 'images/tablet_desktop.jpg'  %}">
                    <a href="#">Tablet Desktop</a>
                </div>
                <div class="product-item" category="tablets">
                    <img src="{% static 'images/tablet_samsung.jpg'  %}">
                    <a href="#">Samsung</a>
                </div>
                <div class="product-item" category="sonido">
                    <img src="{% static 'images/sonido_lg.jpg'  %}">
                    <a href="#">Cafini</a>
                </div>
                <div class="product-item" category="sonido">
                    <img src="{% static 'images/sonido_lg.jpg'  %}">
                    <a href="#">LG</a>
                </div>
                <div class="product-item" category="sonido">
                    <img src="{% static 'images/sonido_sony.jpg'  %}">
                    <a href="#">Sony</a>
                </div>
            </section>



    </div>


    <!ul>
    <div class="grid-container">

        {% for product in product_list %}
        <div >
        <p >{{ product.product_text }}</p></li>
        <p >S./{{ product.price_value }}</p></li>
        <a ><img class="pequeña" src={{ product.url_text }}></a></li>
        </div>
        {% endfor %}
        </div>
    </ul>
    {% else %}
    <p>No products ... are available.</p>
    {% endif %}

    <button class="enlace" role="link" onclick="window.location='http://es.stackoverflow.com'">¿Soy un botón o un enlace?</button>
<a class="enlace" href="http://es.stackoverflow.com">¿Soy un botón o un enlace?</a>
    <li><a href="{% url 'polls:precio'%}">Precio</a></li>


    </body>
</html>
