h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

p {
 color: black;
    font-family: 'Lobster';ss
}

body {
    padding-left: 15px;
}
.grid-container {
  /*display: grid;
  display:block;*/
    display: flex;
   /* position:relative;*/

    width:400%;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-container > div {
 display: flex;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 20px 20px;
  font-size: 10px;
  position:relative;


  height:100%;
   min-width:200px;
   max-width:200px;
}

img.pequeña{
  width: 100px;
  height: 100px;
}